.bootstrap-scope .btn {
    border-radius: 6px;
}

.neon-board-container button, 
.neon-board-container .btn,
.neon-board-container [class*="SaveBtn"] {
    background: transparent !important;
    border: 1px solid #00f2ff !important;
    color: #00f2ff !important;
    box-shadow: 0 0 10px rgba(0, 242, 255, 0.3);
    font-weight: bold;
    padding: 8px 25px;
    transition: 0.3s;
    border-radius: 6px;
    text-transform: uppercase;
    border-radius: 6px;
}

.neon-board-container button:hover {
    background: #00f2ff !important;
    color: #0a192f !important; /* 배경색과 대비되는 어두운 색 */
    box-shadow: 0 0 20px #00f2ff;
    cursor: pointer;
}