.hero {
  position: relative;
  /* height: 100vh; */
  /* background: linear-gradient(135deg, #0a1f2f, #0d2b3f); */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: radial-gradient(circle, transparent 40%, rgba(0,0,0,0.6)); */
}

.content {
  text-align: center;
  z-index: 2;
  max-width: 900px;
}

.watermark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 160px;
  opacity: 0.05;
  font-weight: bold;
  letter-spacing: 10px;
}

.subTitle {
  color: #00eaff;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 20px;
}

.title span {
  color: #00eaff;
}

.desc {
  opacity: 0.8;
  margin-bottom: 30px;
}

.deadline {
  margin-bottom: 15px;
  opacity: 0.7;
}

.timer {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.timeBox {
  background: rgba(0, 255, 255, 0.08);
  padding: 15px 20px;
  border-radius: 12px;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: 0.2s;
}

.timeBox:hover {
  transform: scale(1.05);
}

.num {
  font-size: 28px;
  color: #00eaff;
  display: block;
}

.label {
  font-size: 12px;
  opacity: 0.6;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.primary {
  background: linear-gradient(135deg, #00f0ff, #00c6ff);
  border: none;
  padding: 12px 30px;
  border-radius: 30px;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0, 240, 255, 0.5);
  transition: 0.2s;
}

.primary:hover {
  transform: scale(1.05);
}

.secondary {
  background: transparent;
  border: 1px solid rgba(255,255,255,0.3);
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.secondary:hover {
  background: rgba(255,255,255,0.1);
}

.logoWrap {
  position: relative;
  width: 300px;
  margin: 0 auto;
  animation: float 3s ease-in-out infinite;
}

.logo {
  width: 100%;
  display: block;
  filter: drop-shadow(0 15px 30px rgba(0,0,0,0.7))
    contrast(1.1)
    brightness(0.95);
}

/* 떠다니는 효과 */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

@keyframes rotateY {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

.light {
  position: absolute;
  inset: 0;
  pointer-events: none;

  background: radial-gradient(
    circle at var(--x) var(--y),
    rgba(255,255,255,0.5) 0%,
    rgba(255,255,255,0.25) 15%,
    rgba(255,255,255,0.1) 30%,
    transparent 60%
  );

  mix-blend-mode: screen;
  transition: background 0.05s;
}