
/* ============ start font color */

.mv-ongoing-all {
  background: rgba(0, 242, 255, 0.12);
  color: var(--neon-blue);
  border: 1px solid rgba(0, 242, 255, 0.3);
}

.mv-ended-all {
  background: rgba(255, 255, 255, 0.06);
  color: rgba(232, 244, 248, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.mv-upcoming-all {
  background: rgba(255, 122, 138, 0.1);
  color: #ff7a8a;
  border: 1px solid rgba(255, 122, 138, 0.25);
}

.mv-ongoing-bc {
  background: rgba(0, 242, 255, 0.12);
  color: var(--neon-blue);
}

.mv-ended-bc {
  background: rgba(255, 255, 255, 0.06);
  color: rgba(232, 244, 248, 0.4);
}
.mv-upcoming-bc {
  background: rgba(255, 122, 138, 0.1);
  color: #ff7a8a;
}

.mv-ongoing-b {
  border: 3px solid rgba(0, 242, 255, 0.3);
}

.mv-ended-b {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.mv-upcoming-b {
  border: 1px solid rgba(255, 122, 138, 0.25);
}

.mv-ongoing-fc {
  color: var(--neon-blue);
}
.mv-ended-fc {
  color: rgba(232, 244, 248, 0.4);
}
.mv-upcoming-fc {
  color: #ff7a8a;
}

.mv-ongoing-bb {
  background: rgba(0, 242, 255, 0.12);
  border: 1px solid rgba(0, 242, 255, 0.3);
}
.mv-ended-bb {
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.mv-upcoming-bb {
  background: rgba(255, 122, 138, 0.1);
  border: 1px solid rgba(255, 122, 138, 0.25);
}

.mv-passed-bb {
  background: rgba(21, 34, 60, 0.98);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

/* ============ end font color */


.mv-sidebar-divider{
  width:100%;
  margin:0 auto;
  height: 1px;
  background: var(--border-color);
  /* background: rgba(255, 255, 255, 0.06); */
  flex-shrink: 0;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis-multi {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;

  text-overflow: ellipsis; /* 일부 브라우저 대비 */
  word-break: break-word;  /* 긴 단어 줄바꿈 */
}


/* 
  상단 뮤비 리스트
*/

.mv-slider{
  background: rgba(10, 16, 28, 0.98);
  padding-bottom:10px;  
}

.mv-slider__wrapper{
  padding:20px 0;
  width:100%;
  display:flex;
  justify-content:center;
}

.mv-slider-wrapper{
  /* border:1px solid #fff; */
  padding:15px;
  position:relative;
  width:1530px;
}

.mv-slider__track{
  /* border:1px solid #fff;   */
  display:flex;
  gap:6px;
  box-sizing: border-box;
  overflow-x:auto;
  scroll-behavior:smooth;
  scrollbar-width:none;
}

.mv-slider__track::-webkit-scrollbar{
  display:none;
}

.mv-slider__btn{
  position:absolute;
  top:0;
  bottom:0;
  width:100px;
  background:rgba(0,0,0,0.0);
  border:none;
  /* color: #ff7a8a; */
  color: var(--neon-blue);
  font-size:40px;
  cursor:pointer;
}

.mv-slider__btn:hover{
  color:#fff;
}

.mv-slider__btn--left{
  left:-100px;
}

.mv-slider__btn--right{
  right:-90px;
}

.mv-slider-card{
  /* border:1px solid #fff; */
  background: rgba(255, 255, 255, 0.06);
  box-sizing: border-box;
  padding:10px;
  flex-shrink:0;
  width: 300px;
  height:320px;  
}

.mv-slider-card__thumb {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.mv-slider-card__thumb img{
  width:280px;
  height:150px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* hover 시 살짝 확대 */
.mv-slider-card__thumb img:hover {
  transform: scale(1.05);
}

/* 북마크 아이콘 */
.mv-card__bookmark {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 24px;
  height: 24px;

  opacity: 0;
  transform: translateY(-5px);
  transition: all 0.3s ease;

  color: var(--neon-blue);
  background: rgba(0,0,0,0.5);
  border-radius: 6px;
  padding: 3px;
  cursor: pointer;
}

/* hover 시 등장 */
.mv-slider-card__thumb:hover .mv-card__bookmark {
  opacity: 1;
  transform: translateY(0);
}

.mv-slider-card__info {
  /* border:1px solid #fff; */
  box-sizing: border-box;
  font-size: 16px;
  display:flex;
  height:150px;
}

.mv-slider-card__left{
  text-align:center;
  width:80px;
  font-weight: bold;  
 }

.mv-slider-card__rank {
  font-size:30px;  
  line-height: 75px;
  height:75px;
  margin-bottom: 7px;
  background: rgba(255, 122, 138, 0.1);
  color: #ff7a8a;
  border: 1px solid rgba(255, 122, 138, 0.25);
  /* background: rgba(255,215,0,0.08); 
  color: #ffd700;           */
  /* border: 1px solid #ffd700; */
  /* box-shadow: 0 0 14px rgba(255,215,0,0.2); */
}

.mv-slider-card__profile {
  /* border:1px solid #fff;   */
  font-size: 12px;
  font-weight: 700;
  padding: 7px 10px;
  letter-spacing: 0.5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.mv-slider-card__profile:hover {
 border:1px solid var(--neon-blue);
  background: rgba(0, 242, 255, 0.12);
}

.mv-slider-card__profile span:first-child{
  font-size: 8px;
}

.mv-slider-card__right {
  /* border:1px solid #fff;   */
  width:155px;
  padding:0 15px;
}

.mv-slider-card__meta{
  width:100%;
  text-align:right;
}

.mv-slider-card__meta span{
  margin-left:10px;
}

.mv-slider-card__name{
  /* border:1px solid #fff;     */
  font-weight: bold; 
  margin: 10px 0 8px;
  font-size: 18px;
  text-align: center;
  height:30px;
}

.mv-slider-card__title{
  height:45px;
  margin: 10px 0 8px;
  font-size: 16px;
}



/* 
  하단 뮤비 리스트
*/

.mv-list {
  padding:50px;
  width:1200px;
  margin:0 auto;
  text-align: right;
  /* border:1px solid black; */
}

.mv-list__filter{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  gap: 10px;     
}

.mv-list__filter li{
  height:50px;
  /* border:1px solid #fff;   */
  flex: 1;  
  text-align: right;
}

.mv-list__filter select{
  padding:8px 35px 8px 12px;
  border:1px solid rgba(0, 242, 255, 0.2);
  background: #1a253bff;
  color:#fff;
  font-size:12px;
  cursor:pointer;
  margin-left: 15px;
}

.mv-list__filter select:hover{
  border:1px solid var(--neon-blue);
}

.mv-list__filter input{
  margin-left: 10px;
  padding:8px 10px 9px;
  border:1px solid rgba(0, 242, 255, 0.2);
  background: #1a253bff;
  color:#fff;
  font-size:12px;
}

.mv-list__filter input:focus{
  border:1px solid var(--neon-blue);  
  outline: none;
}

.mv-list__filter button{
  margin-left: 10px;
  background: rgba(255, 255, 255, 0.06);
  color: rgba(232, 244, 248, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding:5px 10px 7px;  
}

.mv-list__filter button:hover{
  background: rgba(0, 242, 255, 0.12);
  color: var(--neon-blue);  
  border: 1px solid rgba(0, 242, 255, 0.3);
  cursor: pointer;
}


.mv-list__grid{
  /* border:1px solid #fff; */
  width:100%;
  display:flex;
  /* justify-content:center; */
  flex-wrap:wrap;
  gap:25px;      
}

.mv-nodata-card {
  width:100%;
  height:100px;
  text-align: center;
  line-height: 100px;
  background: rgba(255, 255, 255, 0.06);
}

.mv-list-card {
  /* background: rgba(255, 255, 255, 0.06); */
  width:220px;
  flex-shrink:0;  
  box-shadow:0 5px 15px rgba(0,0,0,0.1);  
  box-sizing: border-box;
  overflow:hidden;
  padding:10px;    
}

.mv-list-card__thumb {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.mv-list-card__thumb img{
  width:100%;
  height:120px;
  object-fit: cover;
  transition: transform 0.3s ease;  
  cursor: pointer;
}

/* hover 시 살짝 확대 */
.mv-list-card__thumb img:hover {
  transform: scale(1.05);
}


/* hover 시 등장 */
.mv-list-card__thumb:hover .mv-card__bookmark {
  opacity: 1;
  transform: translateY(0);
}

.mv-list-card__meta{
  font-size: 12px;
  width:100%;
  text-align:right;
}

.mv-list-card__meta span{
  margin-left:10px;
}

.mv-list-card-name{
  padding:0 5px;
  text-align: left;
  /* font-weight: bold; */
  height:30px;
  font-size: 14px;
}
.mv-list-card-title{
  width:100%;
  padding:0 5px;
  text-align: left;
  /* font-weight: bold; */
  /* height:50px; */
  font-size: 14px;

  line-height: 1.4;
  height: calc(1.4em * 2); /* 2줄 높이 맞추기 */
}

.mv-list-card__profile {
  /* border:1px solid #fff;   */
  font-size: 12px;
  font-weight: 700;
  padding: 7px 10px;
  letter-spacing: 0.5px;
  margin-top: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mv-list-card__profile:hover {
  border:1px solid var(--neon-blue);
  background: rgba(0, 242, 255, 0.12);
}

.mv-list-card__profile span:first-child{
  font-size: 8px;
}

.mv-list-hasnext {
  /* border:1px solid #fff;   */
  width:100%;
  text-align:center;
  margin-top: 30px;
  padding:20px 0;
}

.mv-list-hasnext span:hover{
  border: 1px solid var(--neon-blue);
  color: var(--neon-blue);
  background: rgba(0, 242, 255, 0.12);
}

.mv-list-hasnext__status {
  /* border:1px solid #fff;   */
  font-size: 14px;
  font-weight: 700;
  padding: 10px 50px;
  border-radius: 20px;
  letter-spacing: 0.5px;
  cursor:pointer;
}




